@CHARSET "UTF-8";
@font-face {  
  font-family: hand-normal ;  
  src: url( fonts/Blokletters-Balpen.ttf ) format("truetype");  
} 
@font-face {  
  font-family: hand-bold ;  
  src: url(fonts/Blokletters-Viltstift.ttf) format("truetype");  
} 
.wrapper{
	margin-bottom:auto;
}
body {
	height:100%;
	width: 100%;
}
.portrait #lernWords,.portrait #readTexts
{
	width: 100%;
	height: 50%;
	
}
.landscape #lernWords,.landscape #readTexts
{
	margin-top:2em;
	display:inline;
	width:49%;
	float: left;
}
/*
#lernWords {
	background: url('../img/cardOverviewBackground.png') no-repeat;
	background-size: 100%;
}
#readTexts {
background: url('../img/readTextsOverview.png'); 
background-repeat: no-repeat;
background-size: 100%;
}
*/
.intro {
	max-height:100%;
	/*
	width:100%;*/
	max-width: 100%;
	display:block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.landscape-overview {
	margin-top: 20%;
	max-height:100%;
	/*
	width:100%;*/
	max-width: 100%;
	display:block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

section {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:2em;
	left:2em;
	text-align: left;
	
}

.landscape .landscape-overview {
	margin-top:0;
	max-height:100%;
	/*
	width:100%;*/
	max-width: 100%;
	display:block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.landscape section {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:2em;
	left:6em;
	text-align: center;
	
}
section.asking {
	top:5em;
	left:2em;
}
.landscape section.asking {
	top:2em;
	left:2em;
	text-align: center;
}

/*
 * Reading view
 */

#btn {
	float: right;
	
}
#btn, #text {
	background-color: #d0d0d0;
	height: 2em;
}

.addIcon
{
	height: 2.1em;
	padding-right: 0.5em;
}
#readingText
{
	clear: both;
	
}
#text p
{
	font-size: 1.6em;
	padding-left: 0.5em;
}
#readingText p 
{
	font-size: 1em;
	padding: 0.5em;
	word-spacing:0.2em;
	line-height: 1.5em;
}
header
{
	font-family: hand-bold;
	font-size:  1em;
}

details
{
	font-family: hand-normal;
	font-size:  0.8em;
}
details .antwort
{
	font-size:  1.2em;
}
